aiofiles
fastapi
Jinja2
pytest
redis
requests
uvicorn
redis
httptools
schedule
gunicorn
uvloop
pandas
sqlalchemy
psycopg2-binary
python-multipart
python-docx
Wand
PyMuPDF
pytesseract
opencv-contrib-python
seaborn
matplotlib
editdistance
nltk
spacy
pyenchant
zstandard
openpyxl
scipy
Unidecode
polyglot
morfessor
pyicu
pycld2
starlette
asyncpg
beautifulsoup4
autocorrect
Pillow
pdfplumber
fpdf
docx2pdf
weaviate-client
aioredlock
transformers